 .nanowrimo {
	width: 30px !important
}

  .avatar-progress-wrapper {
   margin-top: 0px !important;
   width: 30px !important;
  }

.laurel {
 margin-left: 5px !important;
}

.avatar-flair {
 position: relative !important;
 margin-top: -15px !important;
 margin-left: 15px !important;
}
